[Unit]
Description=My app

[Service]

ExecStart=npm run nodemon
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/pi/box-julian-felix

[Install]
WantedBy=multi-user.target
