<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Benno was here (:</title>
    <style>
        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .info {
            color: #005ea8;
        }
    </style>

</head>

<body>
<h1>Willkommen bei CHECK24</h1>
<h2>Phase 1 ist geschafft</h2>
    <br>
<h2>Es ist <span class="info">
        <%= time %>
    </span></h2>
</body>


<script>
    window.onload = redirect
    function redirect () {
        var interval = setInterval(myURL, 10000);
        var result = document.getElementById("result");
        result.innerHTML = "<b> The page will redirect after delay of 5 seconds setInterval() method.";
    }

    function myURL() {
        document.location.href = 'https://www.youtube.com/watch?v=xvFZjo5PgG0';
        clearInterval(interval);
    }

</script>
</html>
