<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CHECK24 Startseite</title>
    <style>
        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .info {
            color: #005ea8;
        }

        #container {
            width: 100vw;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .c {
            overflow: hidden;
            flex-grow: 1;
            border: 2px solid #005ea8;
            border-radius: 10px;
            display: flex;
            padding-right: 20px;
        }

        #betrag {
            font-family: 'Courier New', Courier, monospace;
            color: grey;
        }

        p {
            width: 100%;
            text-align: right;
        }

        .image {
            position: relative;
            display: inline-block;
        }

        .image::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1) 50%);
        }

        input {
            border: 2px solid #005ea8;
            border-radius: 10px;
            height: 40px;
            width: 300px;
        }
    </style>

</head>

<body>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>
        Searching for: <%= q %>
    </h1>
    <form>
        <input type="text" id="searchInput" placeholder="Enter search term">
    </form>
</div>
<div id="container">
    <% table.forEach(function(item) { %>
        <div class="c">
            <img src="<%= item.image %>">
            <div style="flex-grow: 1">
                <p><%= item.name %></p>
                <p id="betrag"><%= item.price %> €</p>
            </div>
        </div>
    <% }); %>
</div>
</body>

<script>
    document.getElementById('searchForm').addEventListener('submit', function(e) {
        e.preventDefault();
        var searchTerm = document.getElementById('searchInput').value;
        window.location.href = "http://192.168.140.147/search?q=" + searchTerm;
    });
</script>
</html>